<b>1. Factorial of a number using recursive function </b>

In [5]:
def fact(n):
    if (n==1 or n==0):
        return 1
    else:
        return n*fact(n-1)
print('Factorial of 5 is : ',end="")
print(fact(5),'\n')
print('*****************************\n')
print('Factorial of 3 is : ',end="")
print(fact(3))

Factorial of 5 is : 120

*****************************

Factorial of 3 is : 6

<b>2. Factorial of a number without using recursive function </b>

In [7]:
a = 5

def factorial(n):
    if n<0:
        return 0
    elif (n==0 or n==1):
        return 1
    else:
        fact = 1
        while(n>1):
            fact = fact * n
            n = n-1
        return fact
print('Factorial of 5 is : ',end="")
print(fact(5),'\n')
print('*****************************\n')
print('Factorial of 3 is : ',end="")
print(fact(3))

Factorial of 5 is : 120

*****************************

Factorial of 3 is : 6

<b>3. Python Program for Program to find area of a circle </b>

In [12]:
import math

radius = 10
print("Area of the circle having radius {} is :".format(radius))
print(math.pi*pow(radius, 2))

Area of the circle having radius 10 is :
314.1592653589793

<b>4a. Python program to print all Prime numbers in an Interval</b>

In [24]:
start = 11
end = 25
  
for val in range(start, end + 1): 
      
   # If num is divisible by any number   
   # between 2 and val, it is not prime  
   if val > 1: 
       for n in range(2, val): 
           if (val % n) == 0: 
               break
       else: 
           print(val)

11
13
17
19
23

<b>4b. Python program to check if given number is prime</b>

In [3]:
num = 13
if num > 1:
    for i in range(2, num):
        if num%i==0:
            print("It is not prime")
            break
    else:
        print("It is prime number")

It is prime number

<b>5. Python Program for Fibonacci numbers </b>

In [28]:
def fibonacci(n):
    if n<0:
        print('Invalid')
    elif n==1:
        return 0
    elif n==2:
        return 1
    else:
        return fibonacci(n-1)+fibonacci(n-2)

print(fibonacci(9))

21

<b>6. Program to find python version</b>

In [29]:
import sys
print('The python version is :',end="")
print(sys.version)
print('Version information is :',end="")
print(sys.version_info)

The python version is :3.7.4 (default, Aug  9 2019, 18:34:13) [MSC v.1915 64 bit (AMD64)]
Version information is :sys.version_info(major=3, minor=7, micro=4, releaselevel='final', serial=0)

<b>7. Program to find number of files in the current directory </b>

In [37]:
import os, os.path

print(len([name for name in os.listdir('.') if os.path.isfile(name)]))
print([name for name in os.listdir('.') if os.path.isfile(name)])

1
['Untitled.ipynb']

<b>File Operations in python </b>

https://www.geeksforgeeks.org/reading-writing-text-files-python/
<br>Python provides inbuilt functions for creating, writing and reading files. There are two types of files that can be handled in python, normal text files and binary files (written in binary language,0s and 1s).

Text files: In this type of file, Each line of text is terminated with a special character called EOL (End of Line), which is the new line character (‘\n’) in python by default.
Binary files: In this type of file, there is no terminator for a line and the data is stored after converting it into machine understandable binary language.

1. Read Only (‘r’) : Open text file for reading. The handle is positioned at the beginning of the file. If the file does not exists, raises I/O error. This is also the default mode in which file is opened.

2. Read and Write (‘r+’) : Open the file for reading and writing. The handle is positioned at the beginning of the file. Raises I/O error if the file does not exists.

3. Write Only (‘w’) : Open the file for writing. For existing file, the data is truncated and over-written. The handle is positioned at the beginning of the file. Creates the file if the file does not exists.

4. Write and Read (‘w+’) : Open the file for reading and writing. For existing file, data is truncated and over-written. The handle is positioned at the beginning of the file.

5. Append Only (‘a’) : Open the file for writing. The file is created if it does not exist. The handle is positioned at the end of the file. The data being written will be inserted at the end, after the existing data.

6. Append and Read (‘a+’) : Open the file for reading and writing. The file is created if it does not exist. The handle is positioned at the end of the file. The data being written will be inserted at the end, after the existing data.

<b> 8. Create a file, write few lines, print file and close </b>

In [55]:
f = open('sample.txt', 'w+')
f.write("Hi, how are you.....\n")
f.write('I am fine....')
f.close()

In [57]:
f = open('sample.txt', 'r')
print(f.readlines())
f.close()

['Hi, how are you.....\n', 'I am fine....']

In [58]:
with open('sample.txt', 'r') as f:
    for i in f.readlines():
        print(i)
f.close()

Hi, how are you.....

I am fine....

<b> 9. Append few lines on already created file, display contents and close file <b>

In [62]:
f = open('sample.txt', 'a+')
f.write('Thats nice to hear from you....\nHow the things are going on')
f.close()

In [63]:
with open('sample.txt', 'r+') as f:
    for i in f.readlines():
        print(i)
f.close()

Hi, how are you.....

I am fine....Thats nice to hear from you....

 How the things are going onThats nice to hear from you....

How the things are going onThats nice to hear from you....

How the things are going on

<b>10. Create a folder and 10 text files with contents. Read all files and contents in one single text file <b>

In [7]:
import os
foldername = 'temp'
path = os.path.join('.', foldername)
os.mkdir(path)

In [8]:
# view all files and folders in the current directory
os.listdir('.')

['.ipynb_checkpoints', 'sample.txt', 'temp', 'Untitled.ipynb']

In [13]:
for i in range(10):
    x = 'text_'+str(i)+'.txt'
    path = os.path.join('C:\\Users\\shashi\\Machine_Learning\\Python_Practice\\temp', x)
    f = open(path, 'a+')
    f.close

C:\Users\shashi\Machine_Learning\Python_Practice\temp\text_0.txt
C:\Users\shashi\Machine_Learning\Python_Practice\temp\text_1.txt
C:\Users\shashi\Machine_Learning\Python_Practice\temp\text_2.txt
C:\Users\shashi\Machine_Learning\Python_Practice\temp\text_3.txt
C:\Users\shashi\Machine_Learning\Python_Practice\temp\text_4.txt
C:\Users\shashi\Machine_Learning\Python_Practice\temp\text_5.txt
C:\Users\shashi\Machine_Learning\Python_Practice\temp\text_6.txt
C:\Users\shashi\Machine_Learning\Python_Practice\temp\text_7.txt
C:\Users\shashi\Machine_Learning\Python_Practice\temp\text_8.txt
C:\Users\shashi\Machine_Learning\Python_Practice\temp\text_9.txt

In [15]:
for file in os.listdir('.\\temp'):
    if '.txt' in file:
        f = open('.\\temp\\'+file, 'w+')
        f.write('Hi...How are you..\nI am file\nHow about you\nI am also fine\nNice to meet you')
        f.close

In [20]:
f = open('result.txt', 'a+')
for file in os.listdir('.\\temp'):
    if '.txt' in file:
        f1 = open('.\\temp\\'+file,'r+')
        f.write(f1.read())
        f1.close()
f.close()

<b>11. Write a method which excepts filename and search for a string. Returns true if that string is present<\b>

In [22]:
def search_string(filename, text):
    f = open('.\\temp\\'+filename, 'r+')
    if text in f.read():
        return True
    else:
        return False
print(search_string('text_0.txt','methods and instance variables'))
print(search_string('text_0.txt','negative scenario'))

True
False

<b>12. Given a filename add each line in a dictionary with keys as serial numbers<b>

In [23]:
def add_to_dict(filename):
    text_lines = dict()
    with open('.\\temp\\'+filename, 'r+') as f:
        i=1
        for x in f.readlines():
            text_lines[i] = x
            i = i+1
    return text_lines

In [26]:
lines = add_to_dict('text_0.txt')
print(lines)

{1: 'Hi...How are you..\n', 2: 'I am file\n', 3: 'How about you\n', 4: 'I am also fine\n', 5: 'Nice to meet you\n', 6: 'Use the function naming rules: lowercase with words separated by underscores as necessary to improve readability.\n', 7: '\n', 8: 'Use one leading underscore only for non-public methods and instance variables.\n', 9: '\n', 10: "To avoid name clashes with subclasses, use two leading underscores to invoke Python's name mangling rules.\n", 11: '\n', 12: 'Python mangles these names with the class name: if class Foo has an attribute named __a, it cannot be accessed by Foo.__a. (An insistent user could still gain access by calling Foo._Foo__a.) Generally, double leading underscores should be used only to avoid name conflicts with attributes in classes designed to be subclassed.\n', 13: '\n', 14: 'Note: there is some controversy about the use of __names (see below).'}

<b> 13. If given filename exists remove it <b>

In [27]:
def remove_file(filename):
    if os.path.isfile('.\\temp\\'+filename):
        os.remove('.\\temp\\'+filename)
        return True
    else:
        return False

In [28]:
print(remove_file('text_9.txt'))
print(remove_file('text_11.txt'))

True
False

In [29]:
print(remove_file('text_9.txt'))

False

<b>14. Given a filename get the size of the file <b>

In [31]:
def get_size(filename):
    if os.path.isfile('.\\temp\\'+filename):
        return os.path.getsize('.\\temp\\'+filename)
    else:
        return None

In [32]:
print(get_size('text_0.txt'))

788

In [33]:
print(get_size('text_20.txt'))

None

<b> 15. Print sum of digits in a string <b>

In [35]:
sum = 0
for i in 'a1b3n4m5':
    if i.isdigit():
        sum = sum + int(i)
print(sum)

13

<b>16. Print current system time<b>

In [36]:
import time
print(time.ctime())

Sat Apr 11 02:36:41 2020

<B>17. Print year, month, date, time<b>

In [48]:
info = time.ctime().split(' ')

In [51]:
print('Day :', info[0])
print('Month :', info[1])
print('Date :', info[2])
print('Time :', info[3])
print('Year :', info[4])

Day : Sat
Month : Apr
Date : 11
Time : 02:42:16
Year : 2020

<b>18. Given two lists of same size, use one list as keys and other lists as values. Create dictionary<b>

In [54]:
a = [1, 2, 3, 4, 5]
b = ['Suresh', 'Ramesh', 'Satish', 'Dinesh', 'Robin']
c = dict()
for i in range(5):
    c[a[i]] = b[i]
print(c)

{1: 'Suresh', 2: 'Ramesh', 3: 'Satish', 4: 'Dinesh', 5: 'Robin'}

<b> 19. Build a 3D matrix using lists. Access random elements.<b>

In [58]:
a = [[[1, 2, 3, 4, 5],[6, 7, 8, 9, 10]],[[11, 12, 13, 14, 15],[16, 17, 18, 19, 20]]]
print(a[0][1][4])
print(a[1][0][1])

10
12

<b>20. Build a small module using oops concepts. To perform file operations(print, append, delete)<b>

In [80]:
import sys
class MyClass:
    def __init__(self, filename):
        self.filename = filename
        self.path = os.path.join('.\\temp\\'+self.filename)
    
    def create_file(self):
        f = open(self.path, 'a+')
        f.close()
        print('{} file created'.format(self.filename))
        
    def read_file(self):
        if os.path.isfile('.\\temp\\'+self.filename):
            f = open(self.path, 'r+')
            print(f.read())
            f.close()
        else:
            print('File not found !!!')
    
    def append_file(self):
        if os.path.isfile('.\\temp\\'+self.filename):
            print('Enter the text you want to append :')
            text = input(' > ')
            f = open(self.path, 'a+')
            f.write(text+'\n')
            f.close()
        else:
            print('File not found !!!')
    
    def delete_file(self):
        if os.path.isfile('.\\temp\\'+self.filename):
            os.remove('.\\temp\\'+self.filename)
        else:
            print('File not found !!!')
        
    def continue_operation(self):
        """
        checks if user wants to continue with next operation
        """
        print('\n IF YOU WANT TO CONTINUE NEXT OPERATION ENTER 1 ELSE ENTER 2 :')
        next_opr = int(input('> '))
        if next_opr == 1:
            self.main_operation()
        elif next_opr == 2:
            print('Exited !!!!!!!!')
            sys.exit(0)
        else:
            print('YOU HAVE ENTERED WRONG CHOICE. ENTER RIGHT CHOICE :')
        
    
    def main_operation(self):
        """
        different file operations
        """
        print("Enter 1 : To create a file ")
        print("Enter 2 : To read contents of the file ")
        print('Enter 3 : To append contents of the file ')
        print('Enter 4 : To delete file')
        print('Enter 5 : To exit the system')
        choice = int(input("SELECT YOUR OPTION : "))
        if choice in (1, 2, 3, 4, 5):
            if choice == 1:
                self.create_file()
            elif choice == 2:
                self.read_file()
            elif choice == 3:
                self.append_file()
            elif choice == 4 :
                self.delete_file()
            elif choice == 5:
                sys.exit(0)
            else:
                print('Terminated for wrong choice !!')
                sys.exit(0)
        self.continue_operation()

In [81]:
p = MyClass('shashi.txt')
p.main_operation()

Enter 1 : To create a file
Enter 2 : To read contents of the file
Enter 3 : To append contents of the file
Enter 4 : To delete file
Enter 5 : To exit the system
SELECT YOUR OPTION : 1
shashi.txt file created

 IF YOU WANT TO CONTINUE NEXT OPERATION ENTER 1 ELSE ENTER 2 :
> 1
Enter 1 : To create a file
Enter 2 : To read contents of the file
Enter 3 : To append contents of the file
Enter 4 : To delete file
Enter 5 : To exit the system
SELECT YOUR OPTION : 2


 IF YOU WANT TO CONTINUE NEXT OPERATION ENTER 1 ELSE ENTER 2 :
> 1
Enter 1 : To create a file
Enter 2 : To read contents of the file
Enter 3 : To append contents of the file
Enter 4 : To delete file
Enter 5 : To exit the system
SELECT YOUR OPTION : 3
Enter the text you want to append :
 > Hi. how are you....

 IF YOU WANT TO CONTINUE NEXT OPERATION ENTER 1 ELSE ENTER 2 :
> 1
Enter 1 : To create a file
Enter 2 : To read contents of the file
Enter 3 : To append contents of the file
Enter 4 : To delete file
Enter 5 : To exit the system
SELECT YOUR OPTION : 2
Hi. how are you....


 IF YOU WANT TO CONTINUE NEXT OPERATION ENTER 1 ELSE ENTER 2 :
> 1
Enter 1 : To create a file
Enter 2 : To read contents of the file
Enter 3 : To append contents of the file
Enter 4 : To delete file
Enter 5 : To exit the system
SELECT YOUR OPTION : 3
Enter the text you want to append :
 > I am fine

 IF YOU WANT TO CONTINUE NEXT OPERATION ENTER 1 ELSE ENTER 2 :
> 1
Enter 1 : To create a file
Enter 2 : To read contents of the file
Enter 3 : To append contents of the file
Enter 4 : To delete file
Enter 5 : To exit the system
SELECT YOUR OPTION : 2
Hi. how are you....
I am fine


 IF YOU WANT TO CONTINUE NEXT OPERATION ENTER 1 ELSE ENTER 2 :
> 1
Enter 1 : To create a file
Enter 2 : To read contents of the file
Enter 3 : To append contents of the file
Enter 4 : To delete file
Enter 5 : To exit the system
SELECT YOUR OPTION : 4

 IF YOU WANT TO CONTINUE NEXT OPERATION ENTER 1 ELSE ENTER 2 :
> 1
Enter 1 : To create a file
Enter 2 : To read contents of the file
Enter 3 : To append contents of the file
Enter 4 : To delete file
Enter 5 : To exit the system
SELECT YOUR OPTION : 5

SystemExit: 0

<b>21. Write a Python program to extract the filename from a given path.<b>

In [82]:
print(os.path.basename('C:\\Users\\shashi\\Machine_Learning\\Python_Practice\\temp\\text_0.txt'))

text_0.txt

<b>22. Write a Python program to get the users environment<b>

In [84]:
print(os.environ)

environ({'ALLUSERSPROFILE': 'C:\\ProgramData', 'APPDATA': 'C:\\Users\\shashi\\AppData\\Roaming', 'COMMONPROGRAMFILES': 'C:\\Program Files\\Common Files', 'COMMONPROGRAMFILES(X86)': 'C:\\Program Files (x86)\\Common Files', 'COMMONPROGRAMW6432': 'C:\\Program Files\\Common Files', 'COMPUTERNAME': 'DESKTOP-27NKNVF', 'COMSPEC': 'C:\\Windows\\system32\\cmd.exe', 'CONDA_DEFAULT_ENV': 'base', 'CONDA_EXE': 'C:\\Users\\shashi\\Anaconda3\\Scripts\\conda.exe', 'CONDA_PREFIX': 'C:\\Users\\shashi\\Anaconda3', 'CONDA_PROMPT_MODIFIER': '(base) ', 'CONDA_PYTHON_EXE': 'C:\\Users\\shashi\\Anaconda3\\python.exe', 'CONDA_SHLVL': '1', 'DRIVERDATA': 'C:\\Windows\\System32\\Drivers\\DriverData', 'FPS_BROWSER_APP_PROFILE_STRING': 'Internet Explorer', 'FPS_BROWSER_USER_PROFILE_STRING': 'Default', 'HOMEDRIVE': 'C:', 'HOMEPATH': '\\Users\\shashi', 'LOCALAPPDATA': 'C:\\Users\\shashi\\AppData\\Local', 'LOGONSERVER': '\\\\DESKTOP-27NKNVF', 'NUMBER_OF_PROCESSORS': '12', 'ONEDRIVE': 'C:\\Users\\shashi\\OneDrive', 'ONEDRIVECONSUMER': 'C:\\Users\\shashi\\OneDrive', 'OS': 'Windows_NT', 'PATH': 'C:\\Users\\shashi\\Anaconda3;C:\\Users\\shashi\\Anaconda3\\Library\\mingw-w64\\bin;C:\\Users\\shashi\\Anaconda3\\Library\\usr\\bin;C:\\Users\\shashi\\Anaconda3\\Library\\bin;C:\\Users\\shashi\\Anaconda3\\Scripts;C:\\Users\\shashi\\Anaconda3\\bin;C:\\Users\\shashi\\Anaconda3\\condabin;C:\\ProgramData\\DockerDesktop\\version-bin;C:\\Program Files\\Docker\\Docker\\Resources\\bin;C:\\Program Files (x86)\\Common Files\\Oracle\\Java\\javapath;C:\\Windows\\system32;C:\\Windows;C:\\Windows\\System32\\Wbem;C:\\Windows\\System32\\WindowsPowerShell\\v1.0;C:\\Windows\\System32\\OpenSSH;C:\\Program Files\\Java\\jdk1.8.0_211\\bin;C:\\Program Files\\Java\\jre1.8.0_211\\bin;C:\\Program Files\\Git\\cmd;C:\\Program Files\\Microsoft SQL Server\\Client SDK\\ODBC\\110\\Tools\\Binn;C:\\Program Files (x86)\\Microsoft SQL Server\\120\\Tools\\Binn;C:\\Program Files\\Microsoft SQL Server\\120\\Tools\\Binn;C:\\Program Files\\Microsoft SQL Server\\120\\DTS\\Binn;C:\\Program Files (x86)\\Microsoft SQL Server\\120\\Tools\\Binn\\ManagementStudio;C:\\Program Files (x86)\\Microsoft SQL Server\\120\\DTS\\Binn;C:\\Users\\shashi\\Anaconda3\\Scripts;C:\\Users\\shashi\\Anaconda3;C:\\Program Files\\MySQL\\MySQL Shell 8.0\\bin;C:\\Users\\shashi\\AppData\\Local\\Microsoft\\WindowsApps;C:\\Users\\shashi\\AppData\\Local\\Programs\\MiKTeX 2.9\\miktex\\bin\\x64;C:\\Users\\shashi\\AppData\\Local\\Programs\\latex\\MiKTeX 2.9\\miktex\\bin\\x64;.', 'PATHEXT': '.COM;.EXE;.BAT;.CMD;.VBS;.VBE;.JS;.JSE;.WSF;.WSH;.MSC', 'PROCESSOR_ARCHITECTURE': 'AMD64', 'PROCESSOR_IDENTIFIER': 'Intel64 Family 6 Model 158 Stepping 10, GenuineIntel', 'PROCESSOR_LEVEL': '6', 'PROCESSOR_REVISION': '9e0a', 'PROGRAMDATA': 'C:\\ProgramData', 'PROGRAMFILES': 'C:\\Program Files', 'PROGRAMFILES(X86)': 'C:\\Program Files (x86)', 'PROGRAMW6432': 'C:\\Program Files', 'PROMPT': '(base) $P$G', 'PSMODULEPATH': 'C:\\Program Files\\WindowsPowerShell\\Modules;C:\\Windows\\system32\\WindowsPowerShell\\v1.0\\Modules;C:\\Program Files (x86)\\Microsoft SQL Server\\120\\Tools\\PowerShell\\Modules\\', 'PUBLIC': 'C:\\Users\\Public', 'SESSIONNAME': 'Console', 'SYSTEMDRIVE': 'C:', 'SYSTEMROOT': 'C:\\Windows', 'TEMP': 'C:\\Users\\shashi\\AppData\\Local\\Temp', 'TMP': 'C:\\Users\\shashi\\AppData\\Local\\Temp', 'USERDOMAIN': 'DESKTOP-27NKNVF', 'USERDOMAIN_ROAMINGPROFILE': 'DESKTOP-27NKNVF', 'USERNAME': 'shashi', 'USERPROFILE': 'C:\\Users\\shashi', 'WINDIR': 'C:\\Windows', 'KERNEL_LAUNCH_TIMEOUT': '40', 'JPY_INTERRUPT_EVENT': '2556', 'IPY_INTERRUPT_EVENT': '2556', 'JPY_PARENT_PID': '2564', 'TERM': 'xterm-color', 'CLICOLOR': '1', 'PAGER': 'cat', 'GIT_PAGER': 'cat', 'MPLBACKEND': 'module://ipykernel.pylab.backend_inline'})

<b>23. Write a Python program to remove the first item from a specified list. <b>

In [85]:
a = [1, 2, 3, 4, 5]
del a[0]

In [86]:
a

[2, 3, 4, 5]

<b> 24. Provided two lists append contents of one list to other

In [87]:
# if a = [1, 2], b = [3, 4], then c = [1, 2, 3, 4]
a = [1, 2, 3, 4, 5]
b = [6, 7, 8, 9, 10]
for i in b:
    a.append(i)
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

<b> 25. Given a list extract elements into another list, which are even numbers and divisible by 5

In [92]:
a = [1, 10, 15, 20, 12, 25, 30, 26, 50, 60, 95, 100]
b = [i for i in a if i%2==0 and i%5==0]
b

[10, 20, 30, 50, 60, 100]

<b> 26. Given a list extract elements into another list, which are even numbers 
and divisible by 5. Using lambda function

In [94]:
a = [1, 10, 15, 20, 12, 25, 30, 26, 50, 60, 95, 100]

b = list(filter(lambda x: (x%2==0 and x%5==0), a))
b

[10, 20, 30, 50, 60, 100]

<b> 27. Given a list extract elements into another list, which are even numbers 
and divisible by 5. Using lambda with defined function.

In [95]:
def my_method(num):
    if (num % 2 == 0 and num % 5 == 0):
        return True
    else:
        return False

a = [1, 10, 15, 20, 12, 25, 30, 26, 50, 60, 95, 100]

b = list(filter(lambda x: my_method(x), a))
b

[10, 20, 30, 50, 60, 100]

<b> 28. Accept list from the user as input and display it

In [96]:
a = eval(input('Enter a list :'))
print(a)

Enter a list :[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

<b> 29. Accept tuple from the user as input and display it

In [97]:
a = eval(input('Enter a tuple :'))
print(a)

Enter a tuple :('abc', 1, 'xyz', 12.20)
('abc', 1, 'xyz', 12.2)

<b> 30. Accept dictionary from the user as input and display it

In [98]:
a = eval(input('Enter a dictionary :'))
a

Enter a dictionary :{1:'abc', 2:'def', 3:'ghi', 4:'jkl'}

{1: 'abc', 2: 'def', 3: 'ghi', 4: 'jkl'}

<b> 31. Display numbers from 1 to 10 using while loop

In [99]:
x = 1
while(x<=10):
    print(x)
    x+=1
print("End")

1
2
3
4
5
6
7
8
9
10
End

<b> 32. Print even numbers between m and n using while loop

In [101]:
m = 10
n = 30

x=m
while x<=n:
    print(x)
    x+=1

10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30

<b> 33. Print stars as right angled triangle

In [103]:
rows = 5
for i in range(5):
    for j in range(i+1):
        print('*', end=' ')
    print("")

*
* *
* * *
* * * *
* * * * *

<b> 34. Print stars as left angled triangle

In [109]:
rows = 5
for i in range(1, rows + 1):
    for j in range(1, rows + 1):
        if(j <= rows - i):
            print(' ', end = ' ')
        else:
            print('*', end = ' ')
    print()

        *
      * *
    * * *
  * * * *
* * * * *

<b> 35. Given a string remove all vowels from it

In [112]:
a = 'bangalore'
b = []
for i in a:
    if i not in ('a', 'e', 'i', 'o', 'u'):
        b.append(i)
print("".join(b))

bnglr

<b> 36. Print stars as equilateral triangle

In [120]:
rows = 5
for i in range(1, 6):
    print(' '*rows, end='')
    print('* '*(i))
    rows-=1

     *
    * *
   * * *
  * * * *
 * * * * *

<b> 37. Print substring of a string which has last 5 characters

In [117]:
a = 'organization'
print(a[-5:])

ation

<b> 38. Write a python program to handle assertions error

In [2]:
x = int(input('Enter a number greater then 1 : '))
try:
    assert(x>1)
    print('You entered: ',x)
except AssertionError:
    print('Wrong input entered')

Enter a number greater then 1 : 1
Wrong input entered

<b>39. Find first occurance of a substring from the main string

In [5]:
a = 'this is a book'
b = 'a'
print(a.find(b, 0, len(a)))

8

<b>40. To display all positions of a substring in a given main string

In [1]:
a = 'This is a book'
b = 'is'

i = 0
flag = False
n = len(a)
while(i<n):
    pos = a.find(b, i, n)
    if pos != -1:
        print('Found at position :', pos+1)
        i = pos+1
        flag=True
    else:
        i=i+1
if flag == False:
    print('Sub string not found !!!')

Found at position : 3
Found at position : 6

<b>41. In a given string replace a substring with other substring

In [2]:
a = 'this is a book'
b = 'book'
c = 'pen'

d = a.replace(b, c)
print(d)

this is a pen

<b>42. Given a string sort all substrings

In [3]:
a = 'this is a book'
b = a.split(' ')
b

['this', 'is', 'a', 'book']

In [4]:
c = sorted(b)
c

['a', 'book', 'is', 'this']

<b>44. Calculate square of a number using lambda function

In [8]:
#lambda argument_list : expression
f = lambda x : x*x
print(f(5))
print(f(2))

25
4

<b>45. Calculate sum of 2 numbers using lambda function

In [10]:
f = lambda x,y : x+y
print(f(5, 10))

15

<b>46. Using lambda function find bigger number in a given two numbers

In [11]:
f = lambda x,y : x if x>y else y
print(f(2, 4))

4

lambda argument_list : expression
<br>filter(function, sequence)

<b> 47. Filter even numbers from the list using Filter function

In [13]:
a = [1, 4, 6, 2, 3, 8, 4, 5, 9, 10, 11, 12]
b = list(filter(lambda x: x%2==0, a))
b

[4, 6, 2, 8, 4, 10, 12]

In [14]:
#alternate way
a = [1, 4, 6, 2, 3, 8, 4, 5, 9, 10, 11, 12]
b = [x for x in a if x%2==0]
b

[4, 6, 2, 8, 4, 10, 12]

<b>48. Print the squares of the numbers using MAP function

In [15]:
a = [2, 3, 4, 5, 6, 7, 8, 9, 10]
b = list(map(lambda x: x**2, a))
b

[4, 9, 16, 25, 36, 49, 64, 81, 100]

In [18]:
from functools import reduce

<b>49. Return product of all elements of a tuple using REDUCE function

In [20]:
a = (1, 2, 3, 4)
b = reduce(lambda x,y: x*y, a)
b

24

<b> 50. Create a function that takes one argument, and that argument will be multiplied with an unknown given number.

In [21]:
def func_compute(n):
    return lambda x: x*n

result = func_compute(2)
print('Double of the given number is :', result(15))

Double of the given number is : 30

<b>51. Write a Python program to sort a list of tuples using Lambda.

In [33]:
marks = [('English', 88), ('Science', 90), ('Maths', 97), ('Social sciences', 82)]
marks.sort(key = lambda x: x[1])
marks

[('Social sciences', 82), ('English', 88), ('Science', 90), ('Maths', 97)]

<b>52. From a dictionary print all keys, values and also paired items

In [42]:
a = {2:'rohan', 1:'jalan', 5:'tinku', 3:'sonu', 4:'ponnu'}
print('All keys :', a.keys())
print('\nAll values :', a.values())
print('\nAll items :', a.items())

All keys : dict_keys([2, 1, 5, 3, 4])

All values : dict_values(['rohan', 'jalan', 'tinku', 'sonu', 'ponnu'])

All items : dict_items([(2, 'rohan'), (1, 'jalan'), (5, 'tinku'), (3, 'sonu'), (4, 'ponnu')])

<b>53. Remove an item from the dict and print its value

In [44]:
a = {2:'rohan', 1:'jalan', 5:'tinku', 3:'sonu', 4:'ponnu'}
print(a.pop(5))
a

tinku

{2: 'rohan', 1: 'jalan', 3: 'sonu', 4: 'ponnu'}

<b>54. Remove the last item from the dict

In [45]:
a = {2:'rohan', 1:'jalan', 5:'tinku', 3:'sonu', 4:'ponnu'}
print(a.popitem())

(4, 'ponnu')

<b>55. Add item into dict using UPDATE function

In [49]:
a = {2:'rohan', 1:'jalan', 5:'tinku', 3:'sonu', 4:'ponnu'}
a.update({6:'motu'})
print(a)

#alternate way
a[7]='patlu'
print(a)

{2: 'rohan', 1: 'jalan', 5: 'tinku', 3: 'sonu', 4: 'ponnu', 6: 'motu'}
{2: 'rohan', 1: 'jalan', 5: 'tinku', 3: 'sonu', 4: 'ponnu', 6: 'motu', 7: 'patlu'}

<b>56. Give an exmple of use of setdefault function of dictionary

In [55]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.setdefault("model", "Bronco")
print(x)
car

Mustang

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [56]:
x = car.setdefault("tomtom", "Bronco")
print(x)
car

Bronco

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'tomtom': 'Bronco'}

<b> 57. Given an example of use of fromkeys function of dictionary

In [59]:
x = (1, 2, 3)
y = 10

thisdict = dict.fromkeys(x, y)

print(thisdict)

{1: 10, 2: 10, 3: 10}

<b>58. Copy one dictionary to another dictionary. Illustrate with 2 ways

In [60]:
a = {1:'rcb', 2:'mi', 3:'dc'}
b = a.copy()
b

{1: 'rcb', 2: 'mi', 3: 'dc'}

In [61]:
#by changing value of dict 'a' wont change dict 'b'
a[2]='kkr'
print(a)
print(b)

{1: 'rcb', 2: 'kkr', 3: 'dc'}
{1: 'rcb', 2: 'mi', 3: 'dc'}

In [62]:
#another example where changing value of one dict will change for other
a = {1:'rcb', 2:'mi', 3:'dc'}
b = a
b

{1: 'rcb', 2: 'mi', 3: 'dc'}

In [63]:
#by changing value of dict 'a' will change dict 'b'
a[2]='kkr'
print(a)
print(b)

{1: 'rcb', 2: 'kkr', 3: 'dc'}
{1: 'rcb', 2: 'kkr', 3: 'dc'}

<b>59. Check if the provided key and value is present in the dict

In [66]:
# checking if key is present
a = {1:'rcb', 2:'mi', 3:'dc'}
print(1 in a)

True

In [67]:
print('mi' in a.values())

True

In [68]:
print(1 in a.keys())

True

<b> 60. Count the number of elements in list, tuple, set and dict

In [72]:
a = [1, 2, 3, 4]
print(len(a))

4

In [74]:
b = (1, 2, 3, 4)
print(len(b))

4

In [75]:
c = {1:'rcb', 2:'mi', 3:'dc'}
print(len(c))

3

<b>61. Count an element in a list and tuple

In [77]:
a = [1, 2, 5, 1, 7, 3, 8, 2, 1, 8, 3, 4, 2, 7, 4, 8, 5, 9, 2]
print(a.count(2))

4

In [78]:
a = (1, 2, 5, 1, 7, 3, 8, 2, 1, 8, 3, 4, 2, 7, 4, 8, 5, 9, 2)
print(a.count(2))

4

<b> 62. Given 2 lists extend elements of one list to other

a = [1, 2, 3, 4, 5]
b = [6, 7, 8, 9, 10]
a.extend(b)
a

<b>63. Given a list insert an element in the first, middle and last postition

In [80]:
#insert in the first position
a = [1, 2, 3, 4, 5]
a.insert(0, 10)
a

[10, 1, 2, 3, 4, 5]

In [81]:
# insert in the middle position
a.insert(2, 11)
a

[10, 1, 11, 2, 3, 4, 5]

In [84]:
# insert in the last position
a.insert(len(a), 20)
a

[10, 1, 11, 2, 3, 4, 5, 20]

<b> 64. Mention 2 ways of removing an elements from the list

In [88]:
a = [1, 2, 3, 4, 5]
a.remove(2)
a

[1, 3, 4, 5]

In [89]:
del a[1]
a

[1, 4, 5]

<b>65. Given a list reverse order of the list

In [93]:
a = [1, 2, 3, 4, 5]
print('Before reverse :')
print(a)
print('After reverse :')
a.reverse()
print(a)

Before reverse :
[1, 2, 3, 4, 5]
After reverse :
[5, 4, 3, 2, 1]

Note : Only List has builtin function for reverse

<b>66. Given a tuple reverse order of elements

In [98]:
a = (1, 2, 3, 4, 5)
print(a[::-1])

(5, 4, 3, 2, 1)

<b>67. Given a string reverse the characters in it. And check of original string got changed.

In [100]:
a = 'organization'
print(a[::-1])

noitazinagro

In [101]:
# as string is immutable object chanracters cannot be altered
a

'organization'

<b>68. Create a list over range with start index and increament

In [103]:
a = list(range(1, 20, 2))
a

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

<b>69. Give exmaples of any() and all() for tuples

In [107]:
a = (1, 2, 3, 4, 5)
print(any(a))
print(all(a))

True
True

In [108]:
a = (0, 1, 2, 3, 4)
print(any(a))
print(all(a))

True
False

In [116]:
b = ()
print(any(b))
print(all(b))

False
True

<b>70. Give exmaples of any() and all() for lists

In [109]:
a = [0, 1, 1, 0]
print(any(a))
print(all(a))

True
False

In [110]:
a = [1, 1, 1, 1]
print(any(a))
print(all(a))

True
True

In [111]:
a = [0, 0, 0, 0]
print(any(a))
print(all(a))

False
False

In [117]:
b = []
print(any(b))
print(all(b))

False
True

Note: For empty iterable the all() function value is TRUE

<b>71. Find index of initial, middle and last element of the tuple

In [118]:
a = (1, 2, 3, 4, 5)
print("Index of first element :", a.index(1))
print("Index of first element :", a.index(3))
print("Index of first element :", a.index(5))

Index of first element : 0
Index of first element : 2
Index of first element : 4

<b> 72. Give examples of enumerate() function

In [122]:
a = ['book', 'pen', 'pencil']
b = enumerate(a)
print(type(b))
print(list(b))
c = enumerate(a, 10)
print(list(c))

<class 'enumerate'>
[(0, 'book'), (1, 'pen'), (2, 'pencil')]
[(10, 'book'), (11, 'pen'), (12, 'pencil')]

<b>73. Give examples of usage of 'bool' function

In [123]:
a = []
print(a, ' is ', bool(a))

b = [0]
print(b, ' is ', bool(b))

c = 0.0
print(c, ' is ', bool(c))

d = 0
print(d, ' is ', bool(d))

e = None
print(e,  ' is ', bool(e))

f = True
print(f, ' is ', bool(f))

g = 'origin'
print(g, ' is ', bool(g))

[]  is  False
[0]  is  True
0.0  is  False
0  is  False
None  is  False
True  is  True
origin  is  True

<b>74. How filter() method works without the filter function

In [124]:
a = [1, 'a', 0, False, True, '0']

b = filter(None, a)

print('The filtered elements are:')
for element in b:
    print(element)

The filtered elements are:
1
a
True
0

<b>75. Give examples for the use of 'iter' function for list, tuple and set

In [133]:
a = ['sea', 1, [1, 2, 3], 'dolby', 2.9]
b = iter(a)
print(next(b))
print(next(b))
print(next(b))
print(next(b))
print(next(b))

sea
1
[1, 2, 3]
dolby
2.9

In [134]:
a = (1, [1, 2, 3], 'dolby', 2.9)
b = iter(a)
print(next(b))
print(next(b))
print(next(b))
print(next(b))

1
[1, 2, 3]
dolby
2.9

In [136]:
a = {1, 2, 'dolby', 2.9}
b = iter(a)
print(next(b))
print(next(b))
print(next(b))
print(next(b))

1
2
dolby
2.9

<b>76. Give exmple of min() and max() functions for list, tuple and set

In [137]:
a = [1, 4, 2, 6, 3, 8, 5]
print(max(a))
print(min(a))

8
1

In [138]:
a = (1, 4, 2, 6, 3, 8, 5)
print(max(a))
print(min(a))

8
1

In [139]:
a = {1, 4, 2, 6, 3, 8, 5}
print(max(a))
print(min(a))

8
1

<b> 77. Give examples of map() function for list, tuple and set

In [141]:
a = [2, 4, 6, 8, 10]
b = list(map(lambda x: x**2, a))
b

[4, 16, 36, 64, 100]

In [143]:
a = (2, 3, 4, 5, 6)
b = tuple(map(lambda x: 2*x, a))
b

(4, 6, 8, 10, 12)

In [145]:
a = {2, 3, 4, 5, 6}
b = set(map(lambda x: x**3, a))
b

{8, 27, 64, 125, 216}

<b>78. Give examples of reversed() function for list, tuple, string and range

In [146]:
a = [1, 2, 3, 4, 5]
b = list(reversed(a))
b

[5, 4, 3, 2, 1]

In [147]:
a = ('ram', 'sham', 'bham')
b = tuple(reversed(a))
b

('bham', 'sham', 'ram')

In [150]:
a = 'example'
b = list(reversed(a))
''.join(b)

'elpmaxe'

In [153]:
a = range(5, 50, 5)
b = tuple(reversed(a))
b

(45, 40, 35, 30, 25, 20, 15, 10, 5)

<b>79. Give exmples of slice() function for list, tuple, string etc.

The slice() function returns a slice object that can use used to slice strings, lists, tuple etc.

In [155]:
'python'[slice(3)]

'pyt'

In [157]:
a = [9, 6, 2, 4, 9, 4, 4, 7, 9, 4]
b = slice(1, 8, 2)
print(a[b])

[6, 4, 4, 7]

In [158]:
a = (9, 6, 2, 4, 9, 4, 4, 7, 9, 4)
b = slice(-1, -6, -1)
print(a[b])

(4, 9, 7, 4, 4)

<b> 80. Give examples of sorted() function for list, tuple and string

In [159]:
a = [5, 2, 7, 3, 4, 9, 7, 2]
print(sorted(a))

[2, 2, 3, 4, 5, 7, 7, 9]

In [160]:
a = ['seeta', 'ram', 'laxman', 'hanuman', 'ravan']
print(sorted(a))

['hanuman', 'laxman', 'ram', 'ravan', 'seeta']

In [162]:
a = 'mahabharat'
print(sorted(a))
''.join(sorted(a))

['a', 'a', 'a', 'a', 'b', 'h', 'h', 'm', 'r', 't']

'aaaabhhmrt'

<b>81. Give exmples of 'zip' function

The zip() function returns an iterator of tuples based on the iterable objects.

    1. If we do not pass any parameter, zip() returns an empty iterator
    2. If a single iterable is passed, zip() returns an iterator of tuples with each tuple having only one element.
    3. If multiple iterables are passed, zip() returns an iterator of tuples with each tuple having elements from all the iterables.

    4. Suppose, two iterables are passed to zip(); one iterable containing three and other containing five elements. Then, the returned iterator will contain three tuples. It's because iterator stops when the shortest iterable is exhausted.

In [4]:
a = [1, 2, 3, 4, 5]
b = ['a', 'b', 'c', 'd', 'e']
result = set(zip(a, b))
print(result)
result = list(zip(a, b))
print(result)

{(5, 'e'), (2, 'b'), (1, 'a'), (3, 'c'), (4, 'd')}
[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e')]

<b>82. Create a set and add few elements

In [9]:
a = set()
a.add(1)
a.add(2)
a.add(2)
a.add(4)
print(a)

{1, 2, 4}

<b>83. Give example of 'difference' method in sets

x-y -> Return a set that contains the items that only exist in set x, and not in set y:

In [10]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.difference(y)
print(z)

{'cherry', 'banana'}

<b>84. Give an example of 'difference_update' method in sets

Remove the items that exist in both sets:

In [15]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.difference_update(y)
print(x)

{'banana', 'cherry'}

<b>85. Give example of 'discard' method in sets

In [16]:
a = {'ram', 'bhim', 'krish'}
a.discard('bhim')
a

{'krish', 'ram'}

<b>86. Difference between 'intersection' and 'intersection_update' methods in sets

In [20]:
a = {'apple', 'banana', 'orange'}
b = {'microsoft', 'apple', 'google'}
print(a.intersection(b))
print(a)
print(b)

{'apple'}
{'apple', 'orange', 'banana'}
{'apple', 'google', 'microsoft'}

In [23]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)
print(x) 
print(y)

{'apple'}
{'apple', 'google', 'microsoft'}

<b>87. Give example of 'isdisjoint()' method in sets

Return True if no items in set x is present in set y

In [25]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "facebook"}

z = x.isdisjoint(y)

print(z)

True

In [26]:
x = {"apple", "banana", "cherry"}
y = {"google", "apple", "facebook"}

z = x.isdisjoint(y)

print(z)

False

<b>88. Give examples of 'issubset()' and 'issuperset()' methods examples

In [30]:
x = {1, 'ram', 1.2, 4, 'bhim'}
y = {1.2, 'bhim'}
print(y.issubset(x))
print(x.issuperset(y))

True
True

In [31]:
x = {1, 2, 3, 4, 5}
y = {10, 20}
print(y.issubset(x))
print(x.issuperset(y))

False
False

<b>89.Remove a random item from the set.

In [33]:
fruits = {"apple", "banana", "cherry"}

fruits.pop()
print(fruits) 
fruits.pop()
print(fruits)

{'banana', 'cherry'}
{'cherry'}

<b>90. Remove specified element from the set

In [34]:
fruits = {'orange', 'mango', 'banana', 'cherry'}
fruits.remove('banana')
print(fruits)

{'orange', 'mango', 'cherry'}

<b>91. Return a set that contains all items from both sets, except items that are present in both sets(symmetric difference)

In [35]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)

print(z)

{'banana', 'cherry', 'google', 'microsoft'}

<b>92. Remove the items that are present in both sets, AND insert the items that is not present in both sets (symmetric_difference_update)

In [37]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)
print(y)

{'google', 'banana', 'microsoft', 'cherry'}
{'apple', 'google', 'microsoft'}

<b>93. Return a set that contains all items from both sets, duplicates are excluded(union)

In [38]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.union(y)

print(z)

{'apple', 'banana', 'microsoft', 'google', 'cherry'}

<b>94. Insert the items from set y into set x(update)

In [39]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.update(y)
print(x)
print(y)

{'apple', 'banana', 'microsoft', 'google', 'cherry'}
{'apple', 'google', 'microsoft'}

<b>95. Give an example of frozenset() method in sets

In [42]:
a = {1, 2, 3, 4, 5}
b = frozenset(a)
print(b)
print(a)
print(frozenset())

frozenset({1, 2, 3, 4, 5})
{1, 2, 3, 4, 5}
frozenset()

<b>96. Given a list, extract all elements in step size of 2

In [2]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
a[::2]

[1, 3, 5, 7, 9]

<b>97. Given a list extract all elements in reverse order with step size of 2

In [3]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
a[::-2]

[10, 8, 6, 4, 2]

<b>98. Given a list, extract elements starting from position 5 to reverse order

In [4]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
a[4::-1]

[5, 4, 3, 2, 1]

<b>99. Given a list shuffle randomnly

In [8]:
import random
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
random.shuffle(a)
a

[10, 2, 13, 6, 14, 3, 9, 5, 7, 8, 12, 11, 4, 1]

<b>100. Given list od lists, remove last element from each list.

In [15]:
a = [[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12], [13, 14, 15, 16]]
for i in range(4):
    a[i].pop()
a

[[1, 2, 3], [5, 6, 7], [9, 10, 11], [13, 14, 15]]

<b>101. Unpack sequence/string into separate variables

In [16]:
a, b, c, d = 'rome'
print(a)
print(b)
print(c)
print(d)

r
o
m
e

In [20]:
*a, b = ('ram', 12, 1.5, True)
print(a)
print(b)

['ram', 12, 1.5]
True

In [21]:
a, *b, c = [1, 'ram', (1, 2, 3, 4), 'bhim']
print(a)
print(b)
print(c)

1
['ram', (1, 2, 3, 4)]
bhim

In [19]:
_, _, _, c = 'rome'
print(c)

e

<b>102. Write a program, given a text file/text, search for previous 5 lines for each iteration with matching pattern

In [26]:
from collections import deque

def search(lines, pattern, history=5):
    previous_lines = deque(maxlen=history)
    for line in lines:
        if pattern in line:
            yield line, previous_lines
        previous_lines.append(line)
        
if __name__ =='__main__':
    with open('102_data.txt') as f:
        for line, prevlines in search(f, 'python', 5):
            for pline in prevlines:
                print(pline, end=' ')
            print(line, end=' ')
            print('-'*20)

this is sample text file
 python is a language
 --------------------
this is sample text file
 python is a language
 java is also a old language
 but python is the latest language
 --------------------
this is sample text file
 python is a language
 java is also a old language
 but python is the latest language
 java is not top in the market currently
 python overtook java place
 --------------------
python is a language
 java is also a old language
 but python is the latest language
 java is not top in the market currently
 python overtook java place
 python scope increased
 --------------------
java is also a old language
 but python is the latest language
 java is not top in the market currently
 python overtook java place
 python scope increased
 like java python is also OOPS
 --------------------
but python is the latest language
 java is not top in the market currently
 python overtook java place
 python scope increased
 like java python is also OOPS
 python is easy language
 --------------------
python overtook java place
 python scope increased
 like java python is also OOPS
 python is easy language
 java has more security
 python is less security --------------------

<b>103. Find the Largest and Smallest N items from the list

In [3]:
import heapq

nums = [9, 18, 5, 4, 2, 6, 21, 7, 10, 15, 12]
print('Smallest 5 numbers are :', heapq.nsmallest(5, nums))
print('Largest 5 numbers are :', heapq.nlargest(5, nums))

Smallest 5 numbers are : [2, 4, 5, 6, 7]
Largest 5 numbers are : [21, 18, 15, 12, 10]

<b>104. Matching text at the start and end of the text

In [4]:
a = 'samplefile.txt'
print(a.startswith('sample'))
print(a.endswith('.txt'))

True
True

In [6]:
import os

filenames = os.listdir('.')
[name for name in filenames if name.endswith('.txt')]

['102_data.txt', 'result.txt', 'sample.txt']

In [8]:
any(name.endswith('.txt') for name in filenames)

True

<b>105. Perform below operations,
1. Load a variable with sentences
2. Initialize dictionary object
3. Perform word count
4. Print output

In [1]:
sentence = " I am going to demnstrate how to count words \
in a sentence using dictionary provided sentece dictionary \
words using dictionary for count"

word_count = {}

for word in sentence.split():
    if word not in word_count:
        word_count[word] = 1
    else:
        word_count[word]+=1
        
print(word_count)

{'I': 1, 'am': 1, 'going': 1, 'to': 2, 'demnstrate': 1, 'how': 1, 'count': 2, 'words': 2, 'in': 1, 'a': 1, 'sentence': 1, 'using': 2, 'dictionary': 3, 'provided': 1, 'sentece': 1, 'for': 1}

In [2]:
# Alternate way using 'Counter' library
from collections import Counter

sentence = " I am going to demnstrate how to count words \
in a sentence using dictionary provided sentece dictionary \
words using dictionary for count"

words = sentence.split()

word_count = Counter(words)

word_count

Counter({'I': 1,
         'am': 1,
         'going': 1,
         'to': 2,
         'demnstrate': 1,
         'how': 1,
         'count': 2,
         'words': 2,
         'in': 1,
         'a': 1,
         'sentence': 1,
         'using': 2,
         'dictionary': 3,
         'provided': 1,
         'sentece': 1,
         'for': 1})

<b>106. Write a python program to compress a string.<br></b>
Input : "aabbbccc"<br>
Output: 2a3b3c<br>

In [1]:
a = 'aabbbccc'
b = dict()
for i in a:
    if i not in b.keys():
        b[i]=1
    else:
        b[i]=b[i]+1
for i in b:
    print(i+str(b[i]), end='')

a2b3c3

<b>107. Difference between @classmethod, @staticmethod and instance method</b>

In [4]:
class MyClass:
    def __init__(self, a, b):
        self.a = a
        self.b = b
        
    @classmethod  
    def add(cls, a, b):
        return a + b
    
    @staticmethod
    def subtract(a, b):
        return a - b

    def multiply(self):
        return self.a * self.b

In [3]:
p = MyClass(2, 4)
print(p.add(4, 8))
print(p.multiply())

12
8

In [5]:
p = MyClass(2, 4)
print(p.add(4, 8))
print(p.subtract(10, 5))
print(p.multiply())

12
5
8

<b>108. Let's learn about list comprehensions! You are given three integers  X, Y and Z representing the dimensions of a cuboid along with an integer N. You have to print a list of all possible coordinates given by (i,j,k) on a 3D grid where the sum of  i+j+k is not equal to N.

In [1]:
x, y, z, n = int(input()), int(input()), int(input()), int(input())
print([[a, b, c] for a in range(0, x+1) for b in range(0, y+1) for c in range(0, z+1) if a+b+c!=n])

2
2
2
4
[[0, 0, 0], [0, 0, 1], [0, 0, 2], [0, 1, 0], [0, 1, 1], [0, 1, 2], [0, 2, 0], [0, 2, 1], [1, 0, 0], [1, 0, 1], [1, 0, 2], [1, 1, 0], [1, 1, 1], [1, 2, 0], [1, 2, 2], [2, 0, 0], [2, 0, 1], [2, 1, 0], [2, 1, 2], [2, 2, 1], [2, 2, 2]]

<b>109. Given the participants' score sheet for your University Sports Day, you are required to find the runner-up score. You are given n scores. Store them in a list and find the score of the runner-up.<br>
</b><br>
Input Format : <br>
<br>
The first line contains n. The second line contains an array A[]  of n integers each separated by a space.
<br>
Sample Input :<br>
5<br>
2 3 6 6 5<br>
<br>
Sample Output :<br>
5

In [2]:
n = int(input())
arr = list(map(int, input().split()))
listnew = []

for i in arr:
    if i not in listnew:
        listnew.append(i)
        
listnew.sort(reverse=True)
print(listnew[1])

5
2 3 6 6 5
5

<b>110. Print the name(s) of any student(s) having the second lowest grade in Physics; if there are multiple students, order their names alphabetically and print each one on a new line.</b><br>

<b>Sample Input :</b><br>
5<br>
Harry<br>
37.21<br>
Berry<br>
37.21<br>
Tina<br>
37.2<br>
Akriti<br>
41<br>
Harsh<br>
39<br>
<br>
<b>Sample Output :</b><br>
Berry<br>
Harry<br>

In [8]:
marksheet = []
scorelist = []

if __name__ == '__main__':
    for _ in range(int(input())):
        name = input()
        score = float(input())
        marksheet+=[[name, score]]
        scorelist+=[score]
    b = sorted(list(set(scorelist)))[1]
    
    for a, c in sorted(marksheet):
        if c==b:
            print(a)

5
ram
90
bhim
88
laila
90
john
80
Krish
80
bhim

<b>111. Find numbers whose product is maximum in a list</b>

In [1]:
a = [5, 2, 7, 1, 2, 4, 8, 7]
b = list()
c = list()
for i in a:
    for j in a:
        c.append(i*j)
        b.append([i,j])
print('Maximum product : ', c.index(max(c)))
print('Elements : ', b[54])

Maximum product :  54
Elements :  [8, 8]

<b>112. Sort a binary numbers without sort function</b>

In [2]:
a = [1, 0, 1, 1, 0, 0, 1, 0]
j = -1
for i in range(len(a)):
    if a[i] < 1:
        j = j+1
        a[i], a[j] = a[j], a[i]
a

[0, 0, 0, 0, 1, 1, 1, 1]

<b>113. Find maximum element in an array</b>

In [1]:
a = [1, 6, 2, 8, 4, 9]
print(max(a))

9

<b>114. Reverse elements in list/array</b>

In [2]:
a = [1, 6, 2, 8, 4, 9]
print(a[::-1])

[9, 4, 8, 2, 6, 1]

<b>115. There is a given an array and split it from a specified position, and move the first part of array add to the end.</b>

In [14]:
def pos(lst, n):
    for i in range(n):
        temp = lst[0]
        for j in range(len(lst)-1):
            lst[j] = lst[j+1]
        lst[len(lst)-1] = temp
    return lst
pos([2, 5, 7, 1, 8, 9, 55, 21], 2)

[7, 1, 8, 9, 55, 21, 2, 5]

<b>116. Check if the elements in a list are monotonic</b>

In [20]:
def is_monotonic(lst):
    return (all(a[i] <= a[i+1] for i in range(len(a) - 1)) or all(a[i] >= a[i+1] for i in range(len(a) - 1)))

In [21]:
a = [1, 2, 3, 4, 5]
print(is_monotonic(a))

True

In [22]:
a = [1, 2, 6, 3, 7, 5]
print(is_monotonic(a))

False

<b>117. Remove nth occurance of a given word</b>

In [29]:
def remove_nth(lst, n):
    del lst[n-1]
    return lst
remove_nth(['abc', 'def', 'ghi', 'jkl', 'mno'], 2)

['abc', 'ghi', 'jkl', 'mno']

<b>118. Count occurrences of an element in a list</b>

In [30]:
a = [1, 2, 3, 4, 5, 2, 10, 6, 2, 11, 9, 8, 2, 6]
def count_element(lst, n):
    count = 0
    for i in a:
        if n==i:
            count+=1
    return count
print(count_element(a, 2))

4

<b>119. Find sum of elements in list</b>

In [31]:
import functools
a = [1, 6, 2, 8, 4, 9]
b = functools.reduce(lambda x, y: x+y, a)
b

30

<b>120. Find second largest element in a list</b>

In [32]:
a = [1, 6, 2, 8, 4, 9, 5, 4, 2, 3]
def second_largest(a):
    b = sorted(a)
    return b[len(a)-2]
second_largest(a)

8

<b>121. Count number of times substring occured in a string</b>

In [33]:
a = "Hi how are you doing hi hello Hi fine hi"
print(a.count('hi'))

2